.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  .menu {
    width: 6%;
    background: #658280;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    .group1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 55%;
      .divider {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: hsla(0, 0%, 100%, 0.5) solid 1px;
        width: 135%;
        padding-bottom: 0.5rem;
      }
      .button {
        cursor: pointer;
      }
    }
    .group2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 25%;
      .switch {
        height: 1.5rem;
      }
    }
  }
  .homeBody {
    width: 94%;
    padding: 2.5rem;
    background: #f1f1f1;
  }
  
}
