.land {
  padding: 1rem 2.5% 1rem 10%;
  .header {
    width: 100%;
    display: flex;
    justify-content: end;
    .headContent {
      p{
        cursor: pointer;
      }
      p:hover{  
      color: #414141;
    }
      margin-right: 7.5%;
      color: #414141c4;
      font-size: 1.1rem;
      display: flex;
      width: 70%;
      justify-content: space-between;
    }
    img {
      left: 10%;
      position: absolute;
    }
  }
  .body {
    padding: 5% 0 10% 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-end;
    .content {
      padding-bottom: 3.5%;

      p {
        font-family: "Ubuntu", sans-serif;
        font-size: 2.25rem;
      }
      span {
        display: flex;
        width: 65%;
        color: #383838;
        font-size: 1.5rem;
        margin: 0.25rem;
      }
      .divider {
        display: flex;
        width: 70%;
        padding: 0.1rem;
        margin: 0;
        background: #da5151;
      }
      .button {
        cursor: pointer;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.25rem;
        background: #f88a10;
        padding: 0 1rem 0 1rem;
        border-radius: 0.25rem;
        width: 20%;
        height: 2.25rem;
        transition: 0.2s;
        box-shadow: 4px 4px#3838382d;
      }
      .button:hover{
        background: #ce7816;
        }
    }
  }
  hr {
    position: absolute;
    left: 0;
    width: 99.8%;
  }
  .footer {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footerContent {
        display: grid;
      margin-right: 7.5%;
      font-size: 1.25rem;
      font-weight: bold;
    }
    .logoFooter{
        width: 80%;
    }
    .icons{
        display: flex;
        gap: .5rem;
        justify-content: space-between;
    }
    #face:hover{
      transform: scale(1.2, 1.2);
    }
    #insta:hover{
      transform: scale(1.2, 1.2);
    }
  }
}
@media screen and (max-width: 960px){
  .land {
    padding: .5rem;
    a{
      margin: 0;
      padding: 0;
    }
    .header {
      margin-top: -.5rem;
      padding: .25rem;
      background: white;
      width: 100vw;
      height: 7.5vh;
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
      .headContent {
        p{
          cursor: pointer;
        }
        p:hover{  
        color: #414141;
      }
        color: #414141c4;
        font-size: .85rem;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
      }
      img {
        left: 10%;
        position: relative;
      }
    }
    .body {
      padding: 5% 0 10% 0;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      // justify-content: space-between;
      gap: 2rem;
      align-items: center;
      #landImage{
        width: 80%;
      }
      .content {
        padding-bottom: 3.5%;
  
        p {
          font-family: "Ubuntu", sans-serif;
          font-size: 2.25rem;
        }
        span {
          display: flex;
          width: 65%;
          color: #383838;
          font-size: 1.5rem;
          margin: 0.25rem;
        }
        .divider {
          display: flex;
          width: 70%;
          padding: 0.1rem;
          margin: 0;
          background: #da5151;
        }
        .button {
          cursor: pointer;
          margin-top: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 1.25rem;
          background: #f88a10;
          padding: 0 1rem 0 1rem;
          border-radius: 0.25rem;
          width: 20%;
          height: 2.25rem;
          transition: 0.2s;
          box-shadow: 4px 4px#3838382d;
        }
        .button:hover{
          background: #ce7816;
          }
      }
    }
    hr {
      position: absolute;
      left: 0;
      width: 99.8%;
    }
    .footer {
      width: 100%;
      height: 25vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footerContent {
          display: grid;
        margin-right: 7.5%;
        font-size: 1.25rem;
        font-weight: bold;
      }
      .logoFooter{
          width: 80%;
      }
      .icons{
          display: flex;
          gap: .5rem;
          justify-content: space-between;
      }
      #face:hover{
        transform: scale(1.2, 1.2);
      }
      #insta:hover{
        transform: scale(1.2, 1.2);
      }
    }
  }
}