@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 1rem !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #1b1b1b !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color: #1b1b1b !important;
}
.css-1v4ccyo {
  border-radius: 1rem !important;
  border-color: #1b1b1b !important;
  color: #1b1b1b !important;
}
.css-1d3z3hw {
  border-color: #1b1b1b !important;
}
.css-14s5rfu{
  color: #1b1b1b !important;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: rgb(0 0 0 / 10%) !important;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  background: #141618 !important;
}
.p-inputswitch .p-inputswitch-slider:before {
  background: #f59e0b !important;
}