.Dash {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  .body1 {
    width: 55%;
    h1 {
      font-size: 40px;
      font-weight: 500;
      margin: 0;
    }
    .avaliacao {
      font-weight: bold;
      display: flex;
      gap: 1rem;
      margin-bottom: 5%;
    }
    .cards {
      display: grid;
      gap: 7.5%;
      text-align: end;
      .card {
        text-align: start;
        display: flex;
        width: 85%;
        align-items: center;
        padding: 0.5rem;
        gap: 1rem;
        font-size: 1rem;
        background: #e5e5e5;
        box-shadow: 5px 5px 10px 0px #00000040;

        border-radius: 0.5rem;
        .user {
          width: 65px;
          height: 65px;
          border-radius: 50px;
        }
        .content {
          p {
            margin: 5px;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      span {
        color: rgba(0, 0, 0, 0.75);
        font-weight: bold;
        font-size: 0.85rem;
        margin-right: 15%;
        cursor: pointer;
      }
    }
  }
  .body2 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    .financas {
      border-left: 2px solid #9191918f;
      height: 85%;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 20%;
      .card1 {
        width: 75%;
        height: 50%;
        text-align: end;
        .card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: start;
          height: 90%;
          width: 100%;
          background: #f7aa564d;
          box-shadow: 5px 5px 10px 0px #00000040;
          border-radius: 0.75rem;
          margin-bottom: 2.5%;
          padding: 1rem;
          h3 {
            margin: 0;
          }
          .content {
            display: flex;
            justify-content: space-between;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 400;
            p {
              margin-bottom: 0;
            }
            #amount {
              margin: 0;
              font-weight: 300;
              font-size: 30px;
            }
            #qtd {
              margin: 0;
              font-size: 30px;
            }
          }
          .month {
            font-family: "Josefin Sans", sans-serif;
            font-weight: 400;
            p {
              margin-bottom: 0;
            }
            #amount {
              margin: 0;
              font-size: 20px;
            }
          }
        }
        span {
          color: rgba(0, 0, 0, 0.75);
          font-weight: bold;
          font-size: 0.85rem;
          cursor: pointer;
        }
      }
      .card2 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        text-align: start;
        width: 75%;
        align-items: center;
        padding: 0.5rem;
        gap: 1rem;
        font-size: 1rem;
        background: #e5e5e5;
        box-shadow: 5px 5px 10px 0px #00000040;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        .notificacao {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-family: Ubuntu;
          font-weight: 500;
          #elipce {
            background: #fe504f;
            width: 1rem;
            height: 1rem;
            border-radius: 50px;
          }
        }
      }
    }
  }
}

@media (width <= 560px) {
  .Dash {
    flex-direction: column;
    background: #f1f1f1;
    gap: 5vh;
    .body1 {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 0;
      .cards {
        display: flex;
        flex-direction: column;
        height: 75%;
        text-align: end;
        justify-content: space-between;
        .card{
          width: 95%;
        }
    }
    }
    .body2 {
      border-top: 2px solid #9191918f;
      width: 100%;
      height: auto;
      .financas {
        border: none;
        align-items: flex-start;
        gap: 2.5rem;
        margin-top: 2.5rem;
        .card1{
          width: 95%;
        }
        .card2{
          width: 95%;
        }
      }
    }
  }
}
